<!-- mostra la componente con il placeholder Component 2 se siamo in modalità edit e se non è settata almeno una proprietà -->
<sly data-sly-test="${wcmmode.edit && !properties}">
	<div data-emptytext="Component 2" class="cq-placeholder"></div>
</sly>

<!--/*se le proprietà sono settate non mostra il placeholder ma stampa i valori dei tab*/-->
<sly data-sly-test="${properties}">
	<h3>Elementi TAB1 -> CONTENT TREE</h3>
	<p>Textfield value: ${properties.textfield}</p>
	<p>TextArea value: ${properties.textarea}</p>
	<p>	Pagina corrente: ${currentPage.path}</p>	
	<p>	Path del nodo corrente (component 2): ${currentNode.path}</p>
	
	<sly data-sly-use.customMultifield="${currentNode.path}/multifield" />
		<ul data-sly-list="${customMultifield.children}">
			<li>
				${item.multifieldTextfield} <!--/*I campi che si trovano nelle componenti Content->Training->test->testCC (esempio),->NomeComponente[Componente2]*/-->
			</li>
		</ul>
		
	<!--/*Lista gestita dal POJO*/-->
	<!--/*Riferimento alla classe -> listaNomi è il parametro da passare alla classe e prperties.textfield è il name del campo sull'html*/-->
	<sly data-sly-use.stringSplitByPojo="${'com.training.core.htl.StringSplitter' @listaNomi=properties.textfield}" />
		<ul data-sly-list="${stringSplitByPojo.getStringSplitter}">
			<li>
				${item}
			</li>
		</ul>
		
		
</sly>